<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>LibreCAD</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>



    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="../images/libreCadLogo.png" width="200px" />
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="#whatIsLibreCAD">What is LibreCAD</a>
                </li>
                <li>
                    <a href="#features">Features</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Get Help</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">

                        <li>
                            <a href="http://librecad.org/cms/home/get-help.html">Getting help, giving help</a>
                        </li>
                        <li>
                            <a href="http://librecad.org/cms/home/get-help/forum.html">Forums</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#getInvolved">Get Involved</a>
                </li>
                <li>
                    <a href="http://blog.librecad.org/">News</a>
                </li>
                <li>
                    <a href="http://wiki.librecad.org/index.php/Main_Page">Wiki</a>
                </li>
                <li>
                    <a href="http://librecad.org/cms/home/about.html">About</a>
                </li>
                <li>
                    <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false">Installation</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu2">
                        <li>
                            <a href="http://librecad.org/cms/home/installation/osx.html">OSX</a>
                        </li>
                        <li>
                            <a href="http://librecad.org/cms/home/installation/windows.html">Windows</a>
                        </li>
                        <li>
                            <a href="http://librecad.org/cms/home/installation/linux.html">Debian/Ubuntu</a>
                        </li>
                        <li>
                            <a href="http://librecad.org/cms/home/installation/rpm-packages.html">RPM Packages</a>
                        </li>
                        <li>
                            <a href="http://librecad.org/cms/home/installation/freebsd.html">FreeBSD</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false">From The Source</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu3">
                        <li>
                            <a href="http://librecad.org/cms/home/from-source/windows.html">Windows</a>
                        </li>
                        <li>
                            <a href="http://librecad.org/cms/home/from-source/linux.html">Linux</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://github.com/LibreCAD/LibreCAD" class="gitHub">Code Repo</a>
                </li>
                <li>
                    <a href="http://blog.librecad.org/" class="blog">Blog</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <p>LibreCAD, Open source 2D-CAD</p>
                        </ul>
                    </div>
                </div>
            </nav>

            <section>

                <h2>
                    <a name="whatIsLibreCAD">What is LibreCAD</a>
                </h2>
                <div class="col-md-4">
                    <p>LibreCAD is a free Open Source CAD application for Windows, Apple and Linux. Support and documentation
                        is free from our large, dedicated community of users, contributors and developers. You, too, can
                        also get involved!</p>
                </div>
                <div class="col-md-8">
                    <img src="../images/whatIsLibreCAD.png" class="img-responsive" />
                </div>
            </section>
            <section>

                <h2>
                    <a name="features">Features</a>
                </h2>
                <br>
                <div class="col-md-4">
                    <p>LibreCAD is a fully comprehensive 2D CAD application that you can download and install for free. There
                        is a large base of satisfied LibreCAD users worldwide, and it is available in more than 20 languages
                        and for all major operating systems, including Microsoft Windows, Mac OS X and Linux (Debian, Ubuntu,
                        Fedora, Mandriva, Suse ...). You can download, install and distribute LibreCAD freely, with no fear
                        of copyright infringement.</p>
                </div>
                <div class="col-md-8">
                    <img src="../images/features.png" class="img-responsive" />
                </div>
                <div class="col-md-12">
                    <h3>LibreCAD's Features</h3>
                    <p>LibreCAD is a feature-packed and mature 2D-CAD application with some really great advantages:</p>
                    <li>It's free – no worry about license costs or annual fees.</li>
                    <li>No language barriers – it's available in a large number of languages, with more being added continually.</li>
                    <li>GPLv2 public license – you can use it, customize it, hack it and copy it with free user support and developer
                        support from our active worldwide community and our experienced developer team.</li>
                    <li>LibreCAD is an Open Source community-driven project: development is open to new talent and new ideas,
                        and our software is tested and used daily by a large and devoted user community; you, too, can get
                        involved and influence its future development.</li>
                </div>
            </section>
            <section>
                <br>
                <div class="col-lg-12">
                    <h2>
                        <a name="getInvolved">Get Involved</a>
                    </h2>
                    <br>
                    <p>LThe LibreCAD team is a small group of dedicated people. Lots of things have been worked out, but plenty
                        of bugs and features are still waiting to be solved. How can you help? We need people that are coders,
                        testers, translators. We currently don't have everything in place, so it will always help if you
                        have existing resources we can use, know what other projects do in specific areas, or, most important,
                        do what you do best and have fun doing it!</p>
                    <br>
                    <p>Come join our community, and contribute in any way you like:</p>
                    <br>
                    <li>
                        Developer: If you are a developer, outstanding in c++, or a beginner we can use all the help. With a bit of determination,
                        the IRC channel and the Libre-CAD-dev mailinglist, we can help you started and get going. The code
                        is available at
                        <a href="github.com/LibreCAD/LibreCAD">github.com/LibreCAD/LibreCAD</a>, and you can use the Qt Creator IDE to work on the project. Qt Creator
                        is available from Digia here:
                        <li>
                            <a href="http://qt-project.org/downloads">http://qt-project.org/downloads</a>.</li>
                        <li>Instructions for compiling LibreCAD can be found here.</li>
                    </li>
                    <li>Make Documentation: Developers are usually bad in making documentation, so if you like making documentation,
                        great! We are changing the icons within LibreCAD so it would be great if there is somebody that can
                        help putting the new icons in the documentation. We also have been adding some small features that
                        are not added yet.</li>
                    <li>Localisation: help localize LibreCAD, we currently try to support over 15 languages, but the language
                        files are getting a bit out-dated. We have made a translation server overhere :
                        <a href="http://translate.librecad.org/">http://translate.librecad.org/</a>. You can complete new languages, or request creating translations
                        for a new language.</li>
                </div>
            </section>
            <section>
                <br>
                <div class="col-lg-12">
                    <h2>
                        <a name="getInvolved">Quick Install</a>
                    </h2>
                    <br>
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default"><a href="https://sourceforge.net/projects/librecad/files/latest/download?source=files">OSX</a></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default"><a href="https://sourceforge.net/projects/librecad/files/latest/download?source=files">Windows</a></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default"><a href="http://librecad.org/cms/home/installation/linux.htmla">Ubuntu/Debian</a></button>
                        </div>
                    </div>
                    
                </div>
            </section>
        </div>
    </div>





    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>